SA_PASSWORD=Your_strong_Password123

JWT_ISSUER=AuthService
JWT_AUDIENCE=AuthServiceClients
JWT_SECRET=SuperSecretKeyForJwt1234567890

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

ADMIN_SEED_USER_ID=11111111-1111-1111-1111-111111111111
ADMIN_SEED_USERNAME=admin
ADMIN_SEED_EMAIL=admin@example.com
ADMIN_SEED_PASSWORD=Admin123!
ADMIN_SEED_NAME=System
ADMIN_SEED_SURNAME=Admin
